<% include ../partials/header.ejs %>

    <div class="outer-box">

    <div class="page-header">
    <h1>Welcome <%= user %></h1>
    </div>
    
    <% {
        var sIds = []
    }%>

    <!--Survey List-->
    <div class="survey-container">
    <div class="page-header">
    <h3>My Survey List</h3>
    </div>
    <div class="survey-form-list-control">
    <!---Create Survey Button-->
    <a class="btn btn-default btn-lg btn-block myButton" href="/survey/surveyConfig">Create a new Survey</a>
    </div>
    <form>

    <!--List of surveys-->
    <% for (let count = 0; count < surveys.length; count++) { sIds[count] = surveys[count]._id %>

    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum"><%= count+1 %></div>
        
         <div class="survey-form-list-control-label"><%= surveys[count].title %></div>
       
         <div class="survey-form-list-control-buttons right-position">
         <a class="btn btn-default" href="/survey/identifySurvey/<%= surveys[count]._id %>" role="button">View</a>
         <a class="btn btn-default" href="/survey/identifyEdit/<%= surveys[count]._id %>" role="button">Edit</a>
         <a class="btn btn-default" href="/survey/downloadResponse/<%= surveys[count]._id %>" role="button">Download Responses</a>
         <a class="btn btn-default" href="" role="button" data-toggle="modal" data-target="#<%= count %>Del">Del</a>
         <a class="btn btn-default" href="" role="button" data-toggle="modal" data-target="#<%= count %>Modal">Share Link</a>
         </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="<%= count %>Modal" role="dialog">
            <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share this survey</h4>
                </div>
                <div class="modal-body">

                <p>URL: 
                <a class="alert-link url-class" href="http://surveymaster.herokuapp.com/respond/identifyResponseType/<%= surveys[count]._id %>">surveymaster.herokuapp.com/respond/identifyResponseType/<%= surveys[count]._id %></a>
                </p>
                </div>
                <div class="modal-footer">
                <a class="btn btn-default" href="/" role="button" data-dismiss="modal">Close</a>
                </div>
            </div>
            </div>
        <!-- /Modal -->
    </div>

      <!-- Modal -->
        <div class="modal fade" id="<%= count %>Del" role="dialog">
            <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Survey</h4>
                </div>
                <div class="modal-body danger-color">
                 <h2>Are you sure?</h2>
               
                </div>
                <div class="modal-footer">
                  <a class="btn btn-default" href="/survey/delete/<%= surveys[count]._id %>" role="button">Yes</a>
                 <a class="btn btn-default" href="/survey/userSurveyList" role="button">No</a>
                </div>
            </div>
            </div>
        <!-- /Modal -->
    </div>
<% } %>
    </form>
    </div>

    </div>


<% include ../partials/footer.ejs %>
      
