<% include ../partials/header.ejs %>

    <div class="outer-box">

    <div class="page-header">
    <h1>Welcome <%= user %></h1>
    </div>


    <!--Survey List-->
    <div class="survey-container">
    <h3>My Survey List</h3>
    <div class="survey-form-list-control">
    <!---Create Survey Button-->
    <a class="btn btn-default btn-lg btn-block myButton" href="/survey/surveyConfig">Create a new Survey</a>
    </div>
    <form>

    <!--List of surveys-->
<% for (let count = 0; count < surveys.length; count++) { %>

    <div class="survey-form-list-control my-div-hover">
        <div class="survey-form-list-control-listNum"><%= count+1 %></div>
        
         <div class="survey-form-list-control-label"><%= surveys[count].title %></div>
       
         <div class="survey-form-list-control-buttons right-position">
         <a class="btn btn-default" href="/survey/viewMCQSurvey/<%= surveys[count]._id %>" role="button">View</a>
         <a class="btn btn-default" href="/survey/editMCQSurvey/<%= surveys[count]._id %>" role="button">Edit</a>
         <a class="btn btn-default" href="/survey/delete/<%= surveys[count]._id %>" role="button">Del</a>
         <a class="btn btn-default" href="" data-toggle="modal" data-target="#myModal" role="button">Share</a>
         </div>
    </div>

        <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share Link</h4>
        </div>
        <div class="modal-body">
          <p>Share your survey with the following link: surveymaster.herokuapp.com/respond/<%= surveys[count]._id %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
    
<% } %>
    </form> 
    </div>

 
  </div>    
    
    </div>


<% include ../partials/footer.ejs %>
      
