<% include ../partials/header.ejs %>
<!--Author: Amandeep Aujla-->
<div class="outer-box">
 
 
<!--Survey Name(from connfigureSurvey Page-->
    <div class="survey-container">
    <h3><%= surveys.title %></h3><!--dynamic data-->

    <form method="post">

    <!--Question 1-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 1</b></div><!--dynamically changed-->
            </div>

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
            <%= surveys.questions.q1 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q1o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q1o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q1o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q1o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question1-->
    </div>

     <!--Question 2-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 2</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
            <%= surveys.questions.q2 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q2o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q2o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q2o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q2o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question2-->
    </div>

   <!--Question 3-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 3</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
             <%= surveys.questions.q3 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q3o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q3o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q3o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q3o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question3-->
    </div>

    <!--Question 4-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 4</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
           <%= surveys.questions.q4 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q4o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q4o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q4o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q4o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question4-->
    </div>

    <!--Question 5-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 5</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
             <%= surveys.questions.q5 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q5o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q5o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q5o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q5o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question5-->
    </div>

    <!--Question 6-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 6</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
             <%= surveys.questions.q6 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q6o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q6o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q6o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q6o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question6-->
    </div>

    <!--Question 7-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 7</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
            <%= surveys.questions.q7 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q7o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q7o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q7o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q7o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question7-->
    </div>

    <!--Question 8-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 8</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
             <%= surveys.questions.q8 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q8o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q8o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q8o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q8o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question8-->
    </div>

   <!--Question 9-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 9</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
            <%= surveys.questions.q9 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q9o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q9o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q9o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q9o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question9-->
    </div>

    <!--Question 10-->
    <div class="question-break">
            <div class="survey-form-list-control">
                <!--Question Number field-->
                <div class="survey-form-list-control-label"><b>Question 10</b></div><!--dynamically changed-->
            </div> 

            <!--Label-->
            <div class="survey-form-list-control">
            <div class="survey-form-list-control-label" >
             <%= surveys.questions.q10 %>
            </div>
        </div>

        <!--Radio Options-->
            <div class="survey-form-list-control">
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q10o1 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q10o2 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q10o3 %>
            </label>
            <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="" value=""><%= surveys.questions.q10o4 %>
            </label>
        <!--/Radiobuttons-->
        </div>

     <!--/Question10-->

    </div>

      <div class="survey-form-list-control">
       <div class="survey-form-list-control-button">
         <input type="submit" class="btn btn-default" value="Next">
         <a class="btn btn-default" href="/survey/userSurveyList" role="button">Cancel</a>
        </div>
      </div>
      
<!--/outer-box-->
</div>
<% include ../partials/footer.ejs %>